---
import AccountDeletePage from "@components/AccountDeletePage";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="DuelMatching | アカウント削除">
  <main>
    <div class="h-screen">
      <AccountDeletePage client:load />
    </div>
  </main>
</Layout>
