<a class="twitter-timeline" data-height="1200" href="https://twitter.com/DuelMatching?ref_src=twsrc%5Etfw">
    Tweets by DuelMatching
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
</script>